body {
    background-color: rgb(231, 231, 231);
}


.btn {

  background-color: #4367b6;
  border: none;
  color: white;
  padding: 10px;
  margin: 12px;
  text-align: center;
}


.green {
    background-color: rgb(27, 122, 27);
}


.form-control {

    padding: 15px;
    margin-left:40px;
    background-color: white;
}


.navbar {
    background-color: #3b5998;
}


.small {
    color: rgb(77, 63, 204);
}